.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}
.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}
.btn:hover {
  background: #a9a9a9;
}
.btn-eq {
  background: royalblue;
}
.btn-eq:hover {
  background: rgb(47, 83, 193);
}
.btn-del {
  background: #ff0000;
  color: white;
}
.btn-del:hover {
  background: #d20000;
}
.btn-clear {
  background: green;
  color: white;
}
.btn-clear:hover {
  background: #01df01;
}
